.board-title{
    background: url(../images/sub-bg2.jpg) no-repeat scroll 50% 75%;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
    width:100%;
}

/* 게시판 글쓰기(writeForm.jsp) */
.board-top {
	width:95%;
	margin:0 auto;
	margin-bottom:50px;
}
.board-top h2{
	text-align:center;
	font-weight:700;
	margin:70px;
}
#t-line {border-top:1px solid #000;}
#board_box { position: relative; width: 100%; margin: 0 auto;}
#board_form{ width:max-content; margin: 0 auto !important;}
#board_form span {width:100%; display: inline-block; }
#board_form .col1 { width: 150px; font-weight:bold;}
#board_form .col2 { width: 800px;}
#board_form li {width:max-content; padding: 12px; border-bottom: solid 1px #dddddd; }
#board_form li:last-child{border-bottom: none;}
#board_form input { width: 800px; height: 25px; }
#board_form textarea { width: 800px; height: 300px; }
#board_form #text_area {height: max-content; display:inline-block; }
#board_form #text_area .col1 {position:relative; top:-150px; }


.buttons { text-align: right; margin: 20px 10px 20px 0; }
.buttons li { display: inline; }
button { 
	padding: 5px 10px;
	height:36px;
	min-width:36px;
	text-decoration:none;
	border:1px solid #003876;
	background-color:#003876;
	color:#fff !important;
	border-radius:5px;
}
input[type=submit],input[type=button], input[type=reset], .searchbtn{
	padding: 5px 10px;
	height:36px;
	min-width:36px;
	text-decoration:none;
	border:1px solid #003876;
	background-color:#003876;
	color:#fff !important;
	border-radius:5px;
}
.center{
	text-align: center !important;
}

/* 게시판 목록보기(list.jsp) */
#board_list li { padding: 20px; border-bottom: solid 1px #dddddd; }
#board_list span { display: inline-block; text-align: center;}
#board_list .col1 { width: 10%; }
#board_list .col2 { width: 40%; margin-left:10px;}
#board_list .col3 { width: 20%; }
#board_list .col4 { width: 20%; }
#board_list .col5 { width: 5%; }
#board_list .replycount { font-size: 13px; color: #808080;}
.b-title{
	border-top: solid 1px #000;
	font-size: 1.2rem;
	color: #000;
}
.b-content{
	font-size: 1.1rem;
	color: #000;
}
.b-notice{
	background-color: rgba(255,246,165,0.3); font-size: 1.1rem; color: #000;
}
.b-content:hover{
	background-color: rgba(100,100,100,0.1);
}
.board_title {text-align: left !important;}

.page {
	text-align:center;
	padding-top: 5px;
}
.pageNumBtn{
	display:inline-block;
	color:#003876;
	font-size:1.083em;
	height:36px;
	line-height:34px;
	padding:0 5px;
	min-width:36px;
	text-decoration:none;
	border:1px solid #003876;
	background:#fff;
	border-radius:5px;
}
.current{
	background-color:#003876;
	color:#fff;
}

.search_box {text-align:right; margin:0 15px 15px 0;}
/* 게시판 내용보기(content.jsp) */
#board_box .title { margin-top: 30px; border-bottom: solid 2px #516e7f; }

#content-box ul{width:70%; margin: 0 auto !important; padding-bottom:20px;}

#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
#view_content #content-space {padding-bottom:150px;}
#view_content #content-img {width:700px; height:auto; padding-bottom:50px;}

#reply_content { padding: 5px; border: solid 1px #dddddd; }
#reply_content li { padding: 10px; border-bottom: solid 1px #dddddd; display:flex; align-items:center; }
#reply_content span { display: inline-block;}
#reply_content .col1 { width: 15%; text-align: center;}
#reply_content .col2 { width: 60%; text-align: left;}
#reply_content .col3 { width: 10%; text-align: center;}
#reply_content .col4 { width: 10%; position:relative; left:15px; float:right;}


#reply_form li { padding: 10px;  border: solid 1px #dddddd; margin-top:20px;}
#reply_form span { display: inline-block;}
#reply_form textarea { width: 100%; }
#reply_form .col1 { position:relative; top:15px; width: 15%; text-align: center; float:left;}
#reply_form .col2 { width: 60%; text-align: left; }
#reply_form .col3 { position:relative; top:8px; right:30px; width: 20%; text-align: center; float:right;}

/* 게시글 수정하기(updateForm.jsp) */
#board_form input[type=password] {width:100px;}